.main_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  color: #fff;
}

.art_sec {
  text-align: center;
  color: #fff;
  margin-top: 30px;
  font-weight: bold;
  font-size: 50px;
}

.agency {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: lowercase;
  padding: 20px;
  line-height: 47px;
  color: #AAA;
  font-family: Fira sans;
}

.ARROW {
  width: 18px;
}

.About {
  display: flex;
  gap: 0.7rem;
  text-decoration: underline;
  font-size: 24px;
}

.double {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 14px;
  color: #fff;
}

a {
  color: #fff;
}

header .jon {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
  padding: 20px;
  padding-left: 8%;
}
header .header__p {
  color: #fff;
}
header .header__links, header ul, header a {
  color: #fff;
  display: flex;
  gap: 1rem;
  text-decoration: none;
}
header .header__links, header a {
  width: 100%;
  padding: 7px;
}
header .jongi {
  margin-top: 20px;
  padding: 20px;
}
header .scroll {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}
header .hamburger {
  cursor: pointer;
  position: relative;
  display: block;
  width: 35px;
  background: none;
  height: 35px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin-left: 30px;
}
header .hamburger .bar, header .hamburger:after, header .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #000;
  margin: 6px 0px;
  transition: 0.4s;
}
header .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 5px);
}
header .hamburger.is-active:after {
  transform: rotate(45deg) translate(-10px, -8px);
}
header .hamburger.is-active .bar {
  opacity: 0;
}
header .mobile-nav {
  display: inline-block;
  display: block;
  background-color: rgb(54, 105, 54);
  position: fixed;
  right: 100%;
  margin: 0 auto;
  width: 65%;
  height: 100vh;
}
header .mobile-nav a {
  display: block;
  padding-top: 25px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
header .mobile-nav.is-active {
  left: 0;
  transition: 0.4s;
}
header .mobile-nav a:hover {
  background-color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  header .hamburger {
    display: block;
  }
  header .header__links, header ul, header a {
    display: none;
    flex-direction: column;
    width: 30%;
    margin-bottom: 1rem;
    position: relative;
    top: 3.5rem;
    left: -5.4rem;
    font-weight: 500;
    font-size: 20px;
  }
}
.feat {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  color: #fff;
  font-size: 24px;
  padding-top: 60px;
}

.hr {
  margin-top: 5rem;
}

.see {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 3rem;
}
.see p {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  font-size: 35px;
}

.mapped {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  gap: 3rem;
  padding: 30px;
}

.para_one {
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}

.para_two {
  margin-top: 20px;
  color: #AAA;
  line-height: 57px;
}

.para_three {
  margin-top: 2rem;
  color: #AAA;
}

@media screen and (max-width: 500px) {
  main .feat {
    font-size: 20px;
    padding-right: 5px;
    gap: 2rem;
  }
  main .exp {
    width: 14rem;
  }
  main .see p {
    font-size: 15px;
  }
  main .mapped {
    grid-template-columns: 1fr;
  }
}
footer .client {
  color: #fff;
  padding: 10px;
}
footer .VEN {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  padding: 20px;
  color: #fff;
}
footer .VEN .VEN_P {
  text-decoration: underline;
}
footer .brand {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  margin-left: 30%;
  align-items: center;
}
footer .branding {
  background-color: inherit;
  font-size: 20px;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
  border: 2px solid gold;
}
footer .lorem {
  text-align: right;
  color: #fff;
}

.ipsum {
  color: #fff;
}

.jon {
  margin-top: 40px;
  padding: 20px;
}

.ift {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 30px;
  padding: 20px;
}

.span {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.marq {
  background-color: white;
  margin-top: 20px;
  overflow: hidden;
}

.marquee {
  display: flex;
  align-items: center;
  line-height: 1.3;
  width: 110%;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 3rem;
  overflow: hidden;
  animation: marquee 10s infinite linear;
}

.jh {
  position: relative;
}

.marquee div {
  padding-left: 24px;
  display: inline-block;
}

.marquee::after {
  background-color: red;
}

.jh {
  color: black;
  background-color: white;
  width: 10%;
  border-radius: 100%;
  margin-top: -30%;
  margin-left: 30%;
  z-index: 1;
  padding: 42px;
}

@keyframes marquee {
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 900px) {
  footer .marquee {
    font-size: 2.3rem;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 30px;
  }
  footer .jh {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  footer .brand {
    margin-left: 0;
    gap: 1rem;
  }
  footer .marquee {
    font-size: 1.18rem;
    height: 30px;
  }
  footer .jh {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.904);
}/*# sourceMappingURL=style.css.map */